h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
  margin: 0px;
  padding: 0px;
}

.cust_container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}
body{
  /* background: linear-gradient(to right, rgba(54,161,251,0.9108018207282913) 6%, rgb(165 171 253 / 83%) 46%, rgba(188,109,251,1) 100%); */
  background: linear-gradient(90deg, rgba(155,172,252,1) 6%, rgba(178,159,251,1) 26%, rgba(196,139,252,1) 46%, rgba(190,106,253,1) 100%);
  /* background: linear-gradient(to right, #B78AF8, #3aa7d9); */
  /* font-family: 'Hedvig Letters Serif', serif; */
}
.home_banner {
  width: 100%;
  height: auto;
  padding: 40px 0px;
}

.chrb {
  width: 220px;
  height: 52px;
  margin: 10px 0px;
}

.chrb img {
  width: 100%;
  height: 100%;
}

.crttxt {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0px;
  text-align: left;
  line-height: 35px;
}

.spttxt {
  /* font-family: 'Roboto', sans-serif; */
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 0px;
  text-align: left;
  line-height: 30px;
}

.alltxtspr {
  font-weight: 600;
  font-family: 'Source Serif 4', serif;
  font-size: 36px;
  line-height: 45px;
  color: #fff;
  padding: 10px 0px;
  letter-spacing: 1px;
}

.alltxtsprthn {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  padding: 10px 0px;
}

.alltxtsprbld {
  font-weight: 600;
  font-family: 'Source Serif 4', serif;
  font-size: 34px;
  line-height: 45px;
  color: #fff;
  padding: 10px 0px;
  letter-spacing: 1px;
}


.btnmainbx {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  flex-direction: column;
}

.btbbx {
  color: #fff;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 8px;
  margin: 8px 5px;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: linear-gradient(#ed31d6,#f39ce8);
  text-align: center;
  border-radius: 10px;
  width: 100%;
}

.btbbx:hover::before {
  left: 0;
  right: auto;
  transform: scaleX(1);
  transform-origin: left;
}

.btbbx::before {
  content: "";
  /* border-radius: inherit; */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: auto;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  background: #ffffff;
  z-index: -3;
  transition: transform 0.5s ease 0s;
  overflow: hidden;
}

.btbbx:hover {
  text-decoration: none;
  color: #bc6efb;
  background-color: #ffffff;
  border: 2px solid #fff;
}

.sldallimg {
  width: 100%;
  height: 555px;
}

.sldallimg img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.phndiv {
  width: 100%;
  height: 520px;
}

.phndiv img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* object-fit: cover; */
}

/* .btbbx:nth-child(2){
  margin: 50px 0px;
}
.btbbx:nth-child(3){
  margin: 50px 0px;
} */
.bhmainimgall {
  width: 100%;
  max-width: 55%;
}

.chrbgrpimg {
  width: 652px;
  height: 595px;
}

.chrbgrpimg img {
  width: 100%;
  height: 100%;
}



/* Influencer Modal */
.influencermodal {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #0000007d;
  position: fixed;
  z-index: 999;
}

.influencer_content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 30%;
  /* border-radius: 10px; */
  height: auto;
  padding: 10px;
  /* border: 2px solid #000000e0; */
  overflow: hidden;
}

.icnacnt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
  padding: 10px 0px 8px 0px;
  cursor: pointer;
}

.icnacnt i {
  font-size: 14px;
}

.crttxtacnt {
  font-size: 17px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.txtinpt input {
  width: 100%;
  background-color: transparent;
  padding: 10px 30px 10px 20px;
  box-shadow: 0px 0px 5px 0px #ccc;
  /* border: 1px solid #000; */
  margin: 5px 0px 15px 0px;
  border: 0px;
  font-size: 12px;
  color: #000;
  font-weight: 600;
}
.txtinptphninfln input:focus{
  outline: 0;
}

.crttxtinpt input {
  width: 100%;
  background-color: transparent;
  padding: 10px 30px 10px 20px;
  box-shadow: 0px 0px 5px 0px #ccc;
  /* border: 1px solid #000; */
  margin: 5px 0px 10px 0px;
  border: 0px;
  font-size: 12px;
  color: #000;
  font-weight: 600;
}

.crttxtinpt {
  position: relative;
}

.shwinpt {
  position: absolute;
  top: 7px;
  right: 10px;
}

.shwinpt i {
  font-size: 14px;

}

.sklinct {
  display: flex;
  align-items: center;
  gap: 10px;
}

.txtinptphn input {
  width: 100%;
  background-color: transparent;
  padding: 10px 10px 10px 80px;
  box-shadow: 0px 0px 5px 0px #ccc;
  /* border: 1px solid #000; */
  margin: 5px 0px 15px 0px;
  border: 0px;
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
.txtinptphninfln input{
  width: 100%;
  background-color: transparent;
  padding: 10px 10px 10px 80px;
  box-shadow: 0px 0px 5px 0px #ccc;
  /* border: 1px solid #000; */
  margin: 5px 0px 15px 0px;
  border: 0px;
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
.txtinptphninfln{
  position: relative;
}

.txtinpt {
  position: relative;
}

.txtinptphn input:focus {
  outline: 0px;
}

.txtinpt input:focus {
  outline: 0px;
}

/* .numbflgarrow {
  position: absolute;
  top: 15px;
  left: 13px;
}

.arrow {
  position: absolute;
  top: 15px;
  left: 30px;
  cursor: pointer;
} */

.numbflgarrow i {
  font-size: 12px;
}

.txtinptphn {
  position: relative;
}

.chcktrm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
  padding-top: 10px;
}

.trms {
  font-size: 12px;
  color: #000;
  font-weight: 600;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
}

.sgnbtn {
  background-color: rgb(0, 119, 255);
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  color: #fff;
  margin: 15px 0px;
  cursor: pointer;
}

.btnskl {
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 5px 0px #ccc;
  border-radius: 10px;
  margin: 6px 0px;
  cursor: pointer;
}

.skltxt {
  font-weight: 400;
  line-height: 16px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  padding-bottom: 3px;
}

.sklmax {
  padding: 10px 0px;
}

.sprtdnccmd {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 0%; */
  justify-content: space-between;
}

.sdmotohrflx {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: flex-start;
  gap: 8%;
}

.icnshw {
  position: absolute;
  top: 7px;
  right: 11px;
  z-index: 6;
}

.icnshw i {
  font-size: 12px;
  font-weight: 400;
}

.crs {
    position: absolute;
    top: 35px;
    right: 11px;
    z-index: 99;
    cursor: pointer;
}

.crs i {
  font-size: 15px;
}

.listcntry {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #ccc;
  /* border: 1px solid #000; */
  padding: 10px 15px;
  top: 37px;
  left: 13px;
  height: 254px;
  overflow-y: auto;
}
.btnsklitm{
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 0px 5px 0px #ccc;
  border-radius: 10px;
  margin: 6px 0px;
  position: relative;
  cursor: pointer;
}
.crsicn i{
  position: absolute;
  top: 9px;
  left: 65px;
  color: red;
  font-size: 12px;
}

.flgarwflx {
  position: absolute;
  top: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 7px;
  gap: 3px;
}
.cntrynmb {
  color: #000;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 5px 0px;
}
.cntrynmb li {
  font-size: 12px;
}
.flg {
  width: 10px;
  height: 10px;
}
/* The device with borders */
.smartphone {
  /* position: relative;
  width: 294px;
  height: 569px;
  margin: 16px auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 15px;
  left: 35%;
  top: 3%; */
  border-color: #000;
  /* background-color: #ffffff; */
  width: 291px;
  height: 525px;
  border-radius: 30px;
  border: 2px solid #ddd;
  margin: auto;
  padding: 23px 7px;
  position: relative;
  left: 35%;
  top: 4%;
}
.scrlwrp{
  height: 433px;
  overflow-y: auto;
}
.scrlwrp::-webkit-scrollbar {
  display: none;
}
.btnallbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2%;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrlwrp {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 66px;
  height: 14px;
  position: absolute;
  top: 21px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 10px;
  z-index: 99;
}

.smartphone .influencer_content {
  width: 285px;
  /* height: 491px; */
  background: white;
  overflow: auto;
  border-radius: 29px;
  padding: 16px 8px;
  border: 6px solid #000;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.smartphone .influencer_content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.smartphone .influencer_content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media(max-width:1199px) {
  .chrb {
    width: 148px;
    height: 39px;
    /* margin: 10px auto; */
  }

  .crttxt {
    font-size: 26px;
    line-height: 30px;
  }

  .alltxtspr {
    font-size: 26px;
    line-height: 33px;
  }

  .alltxtsprthn {
    font-size: 20px;
    line-height: 28px;
  }

  .alltxtsprbld {
    font-size: 26px;
    line-height: 33px;
  }

  /* .btbbx {
    font-size: 12px;
    margin: 10px 5px;
  } */
}

@media(max-width:991px) {
  .phndiv {
    width: 100%;
    height: auto;
  }
  .smartphone {
    left: 0%;
    top: 3%;
}
}

@media(max-width:767px) {
  .alltxtspr {
    font-size: 23px;
    line-height: 30px;
  }

  .alltxtsprthn {
    font-size: 18px;
    line-height: 25px;
  }

  .alltxtsprbld {
    font-size: 23px;
    line-height: 30px;
  }

  .sldallimg {
    width: 100%;
    height: 865px;
  }
  .phndiv {
    width: 100%;
    height: auto;
    margin-top: 25px;
}
}

@media(max-width:576px) {
  .alltxtspr {
    font-size: 20px;
    line-height: 26px;
    padding: 5px 0px;
  }
  .alltxtsprbld {
    font-size: 20px;
    line-height: 26px;
    padding: 5px 0px;
  }
  .alltxtsprthn {
    font-size: 16px;
    line-height: 23px;
    padding: 5px 0px;
  }
  .chrb {
    margin: 5px auto;
  }
  .crttxt {
    padding: 5px 0px
  }
  .spttxt {
    padding: 5px 0px;
  }

 
}

@media(max-width:480px) {
  .btbbx {
    font-size: 9px;
    margin: 10px 5px;
  }
}